venv/
ENV/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

docker-compose.override.yml
*.ctl
*.pid
*.sock

firebase-credenciales.json
*-credenciales.json
*.key
*.pem
.secrets

.vscode/
.idea/
.DS_Store
matriculas/static/matriculas/js/firebase-messaging-sw.js
docker-compose.yml
Dockerfile
firebase-credenciales.json